

  <div class="card" style="width: 25rem;">
    <div class="card-header">
      Mord details
    </div>
    <ul style="margin-top: 40px;" class="list-group list-group-flush">
      <li class="list-group-item">FirstName : {{student.firstName}}</li>
      <li class="list-group-item">lastName : {{student.lastName}}</li>
      <li class="list-group-item"> age: {{student.age}}</li>
      
      
   
      <li class="list-group-item">  <button class="btn btn-success" (click)="back()">Back</button></li>
    </ul>
  </div>
  